.service-bg {
  background-image: url("/src/assets//images/services-bg.jpg");
}

/** service section title**/

.service-section-title {
  margin-bottom: 30px;
  margin-top: -6px;
}

@media (max-width: 767px) {
  .service-section-title {
    margin-bottom: 20px;
  }
}

.service-section-title.text-white > span::before {
  color: #fff !important;
}

.service-section-title > span {
  position: relative;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  background: #5f2dee;

  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5f2dee),
    to(#256ad7)
  );
  background: linear-gradient(to right, #5f2dee, #256ad7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-left: 22px;
}

.service-section-title > span::before {
  position: absolute;
  left: -5px;
  bottom: 5px;
  content: "";
  background: #5f2dee;

  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5f2dee),
    to(#256ad7)
  );

  background: linear-gradient(to right, #5f2dee, #256ad7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 18px;
}

/** service section title**/
.service-service-section-title > span::before {
}
.service-section-title h2 {
  font-size: 48px;
  text-transform: capitalize;
}

@media (max-width: 1199px) {
  .service-section-title h2 {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .service-section-title h2 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .service-section-title h2 {
    font-size: 32px;
  }
}

@media (max-width: 585px) {
  .service-section-title h2 {
    font-size: 28px;
  }
}

.service-section-title h2 span {
  color: #5f2dee;
}

.service-section-title h6 {
  color: #256ad7;
  position: relative;
  display: inline-block;
  padding: 0px 20px;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 12px;
  font-weight: 500;
}

.service-section-title h6::before,
.service-section-title h6::after {
  position: absolute;
  width: 10px;
  height: 10px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5f2dee),
    to(#256ad7)
  );
  background: linear-gradient(180deg, #5f2dee 0%, #256ad7 100%);
  content: "";
  left: 0;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-section-title h6::after {
  right: 0;
  left: auto;
}

.footer-bg {
  background-image: url("/src/assets//images/footer-widgets-bg.png");
}
